body{

	background-color:#000000;
	margin: 0 10%;
	font-family: graphik;
	text-align: center;
	font-weight: light;
	weight: 1280;
}

h1{
	color:white;
	text-align: center;
	font-family: 'Wire One', sans-serif;
}
h2{
	color:white;
	text-align: center;
	font-family: 'Wire One', sans-serif;
}

p{
	color:white;
	text-align: center;
	margin-right: 5px;
}

ul{
	color:white;
	text-align: center;
	margin-right: 5px;
}
